<!-- Provided by MyFreeTemplates.com -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title><%=controller.action_name%></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="keywords" content="Keywords here">
<meta name="description" content="Description here">
<meta name="Author" content="MyFreeTemplates.com">
<META NAME="robots" CONTENT="index, follow"> <!-- (Robot commands: All, None, Index, No Index, Follow, No Follow) -->
<META NAME="revisit-after" CONTENT="30 days">
<META NAME="distribution" CONTENT="global"> 
<META NAME="rating" CONTENT="general">
<META NAME="Content-Language" CONTENT="english">


<%=javascript_include_tag "myfreetemplates" %>
<%=stylesheet_link_tag "myfreetemplates" %>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td height="87"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="342" rowspan="2"><img src="/images/toplogo.jpg" width="342" height="87"></td>
          <td width="34" rowspan="2"><img src="/images/topmidspace.jpg" width="34" height="87"></td>
          <td background="/images/topbg.jpg"><img src="/images/topbg.jpg" width="1" height="54"></td>
        </tr>
        <tr> 
          <td background="/images/topnavbg.jpg" height="33" class="menuBar">
            <%
            odd=""
            idx=0
            if @main_menus%>
              <%@main_menus.each do |menu|%>
              <%=odd%> <%= link_to menu[0],menu[1]%>
              <%
              odd="|"
              idx=idx+1
             end%>
            <%end%>
            <%if check_is_admin%>
              <%=odd%> <%= link_to "Write Post",{:controller=>:posts}%>
            <%end%>
          </td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td valign="top">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" background="/images/topnavbg.jpg">
        <tr> 
          <td height="9" colspan="2" background="/images/basebg2.jpg"><img src="/images/basebg2.jpg" width="1" height="9"></td>
        </tr>
        <tr> 
          <td width="150" rowspan="2" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td valign="top"><img src="/images/mainpic_<%=controller.controller_name%>.jpg" width="150" height="157"></td>
              </tr>
              <tr> 
                <td height="1" bgcolor="#FFFFFF"><img src="/images/spacer.gif" width="1" height="1"></td>
              </tr>
              <tr>
                <td><img src="/images/spacer.gif" width="1" height="1">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr> 
                      <td width="20" rowspan="3"><img src="/images/spacer.gif" width="20" height="1"></td>
                      <td><br>
                        <span class="sidelinks">
                         <%if @side_bar_menus -%>
                           <img src="/images/arrow.jpg" width="20" height="10"/>Quick Link
                           <%else -%>
                            Oops...
                            <%end -%>
                          
                            </span></td>
                    </tr>
                
                    <tr> 
                      <td class="sidelinks2">
                      
                      <%if @side_bar_menus -%>
                        <ul>
                           <%
                           sidx=0
                           @side_bar_menus.each do |submenu|%>
                             <li><%= link_to submenu[0],submenu[1]%>
                           <%
                           sidx=sidx+1
                           end%>
                        </ul>
                       <%else -%>
                            I don't know what can be put here
                       <%end -%>  
                          
                      </td>
                    </tr>

                  </table></td>
              </tr>
            </table></td>
          <td valign="top" bgcolor="#FFFFFF"> 
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr> 
                <td height="29" colspan="3" background="/images/navbasebg.jpg"><img src="/images/navbasebg.jpg" width="1" height="29"></td>
              </tr>
              <tr><td>&nbsp;</td></tr>
              <tr> 
                <td width="40">&nbsp;</td>
                <td id="content"><p>
                <%=yield%>
                </p>
                </td>
                <td width="25">&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFFF">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td height="24" background="/images/basebg1.jpg"><img src="/images/basebg1.jpg" width="1" height="24"></td>
  </tr>
  <tr>
    <td height="44" valign="top" background="/images/basebg2.jpg">    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="26" class="baseline">&nbsp;&nbsp;Copyright &copy;  2008  VanceInfo ELP. All Rights Reserved.</td>
        <td align="right" class="baseline"><a href="http://www.vanceinfo.com" class="baseline">build by vanceinfo elp</a>&nbsp;&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
